#eventHome-container {
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    background-color: #140327;
    /* border: 2px solid white; */
}

@media screen and (max-width: 768px) {
    #eventHome-container {
        height: fit-content;
    }
}

#eventHome-image-img {
    position: absolute;
    left: 0;
    top: 10%;
    /* height: 100%; */
    width: 45%;
    /* height: 70%; */
    object-fit: cover;
    /* max-height: 50vh; */
    /* max-height: 300px; */
    /* border: 2px solid yellow; */
}

@media screen and (max-width: 1000px) {
    #eventHome-image-img {
        top: 10%;
        height: 70%;
        object-fit: cover;
        object-position: right;
    }
}

@media screen and (max-width: 768px) {
    #eventHome-image-img {
        top: 10%;
        width: 55%;
        height: 50%;
        object-fit: cover;
        object-position: right;
    }
}

#eventHome {
    /* position: absolute; */
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vmin;
    /* margin: 10vmin 10vmin; */
    /* add text shadow */
    text-shadow: 0 2px 5px black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3vmin;
    padding-top: 0;
    /* line height */
    line-height: 1.3;
    z-index: 1;
}

#eventHome-left-section {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#eventHome-left-section-top {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#eventHome-left-section-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
}

#eventHome-right-section {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#eventHome-title {
    /* box-sizing: border-box; */
    width: 100%;
    height: fit-content;
    /* padding-left: 5vmin; */
    /* margin-bottom: 5vmin; */
    font-family: Gentona;
    font-size: 15vmin;
    text-align: right;
    color: #ffe35a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

#eventHome-hr {
    background: white;
    height: 1px;
    max-height: 1%;
    width: 81%;
    max-width: 35vw;
    margin-top: -2vmin;
}

@media screen and (max-width: 768px) {
    #eventHome-hr {
        width: 100%;
        max-width: 100vw;
    }
}

#eventHome-image {
    width: 100%;
    /* height: 100%; */
}



#eventHome-eventCircles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 5vmin;
}

@media screen and (max-width: 768px) {
    #eventHome-eventCircles {
        flex-direction: column;
        padding-top: 0;
    }
}

#eventHome-eventCircles > a {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    margin: 1vmin max(0.5vmin, calc(calc(100% - 2*30vmin) / 4));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 28%;
    overflow: hidden;
    /* border: 2px solid red; */
    animation: eventBlob 10s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
    #eventHome-eventCircles > a {
        margin: 4vmin 0 1vmin 0;
    }
}

#eventHome-eventCircle1 {
    animation-delay: 0ms !important;
}

#eventHome-eventCircle2 {
    animation-delay: 3000ms !important;
}

#eventHome-eventCircle3 {
    animation-delay: 5000ms !important;
}

.eventHome-eventCircle-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-image: linear-gradient(to right, #3437a270, #8223e170);
    color: transparent;
    user-select: none;
    text-shadow: none;
    text-align: center;
    padding: 1vmin;
}

.eventHome-eventCircle-gradient:hover {
    text-shadow: 0 2px 5px black;
    cursor: pointer;
    background-image: linear-gradient(to right, #3438a290, #8223e190);
}

.eventHome-eventCircle-gradient span {
    color: white;
    opacity: 0;
    transition: all 0.1s ease;
}

.eventHome-eventCircle-gradient:hover span {
    opacity: 1;
}

#eventHome-eventCircles > a {
    transition: all 0.1s ease;
}

#eventHome-eventCircles > a:hover {
    box-shadow: 3px 3px 6px 3px #6712b6;
}

#eventHome-eventCircles > a > img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes eventBlob {
    0%, 100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 28%;
    }

    33% {
        border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}