#eventHome-container {
    width: 100vw;
    height: 90vh;
    padding: 5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#eventHome {
    /* position: absolute; */
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vmin;
    /* margin: 10vmin 10vmin; */
    /* border: 2px solid white; */
    /* add text shadow */
    text-shadow: 0 2px 5px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3vmin;
    /* line height */
    line-height: 1.3;
}

#eventHome-left-section {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#eventHome-left-section-top {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#eventHome-countdown-title {
    /* border: 2px solid red; */
    padding: 5vmin;
    padding-bottom: 2vmin;
    font-size: 3vmin;
    font-family: "Josefin Sans", sans-serif;
    /* line-height: 3.5vmin; */
    text-align: center;
}

#eventHome-left-section-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
}

#eventHome-right-section {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventHome-image {
    width: 100%;
    /* height: 100%; */
}

#eventHome-image-img {
    width: 100%;
    /* max-height: 300px; */
}
