@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

#initiativeHome-container {
    box-sizing: border-box;
    height: 100%;
    min-height: 90vh;
    width: 100%;
    padding: 3vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #initiativeHome-container {
        height: fit-content;
    }
}

#initiativeHome {
    position: relative;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: fit-content;
    font-family: "Josefin Sans", sans-serif;
    /* margin: 10vmin 10vmin; */
    /* border: 2px solid white; */
    /* add text shadow */
    text-shadow: 0 3px 3px black;
    display: flex;
    flex-direction: column;
    padding: 3vmin 0;
    /* line height */
    line-height: 1.3;
}

#initiativeHome::before {
    position: absolute;
    width: 96%;
    height: 90%;
    content: "";
    background: rgb(82, 225, 255);
    background: -moz-linear-gradient(
        90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.1) 35%,
        rgba(8, 153, 167, 0) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.1) 35%,
        rgba(8, 153, 167, 0) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.1) 35%,
        rgba(8, 153, 167, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52e1ff",endColorstr="#0899a7",GradientType=1);
    filter: blur(10px);
    border-radius: 10vmin;
    padding: 2vmin;
}

@media screen and (max-width: 768px) {
    #initiativeHome::before {
        height: 95%;
        padding: 0;
        background: -moz-linear-gradient(
            0deg,
            rgba(82, 225, 255, 0.2) 0%,
            rgba(16, 160, 191, 0.1) 35%,
            rgba(8, 153, 167, 0) 100%
        );
        background: -webkit-linear-gradient(
            0deg,
            rgba(82, 225, 255, 0.2) 0%,
            rgba(16, 160, 191, 0.1) 35%,
            rgba(8, 153, 167, 0) 100%
        );
        background: linear-gradient(
            0deg,
            rgba(82, 225, 255, 0.2) 0%,
            rgba(16, 160, 191, 0.1) 35%,
            rgba(8, 153, 167, 0) 100%
        );
    }
}

#initiativeHome-title {
    width: 100%;
    height: 25%;
    padding: 7vmin 0 0 7vmin;
    user-select: none;
    z-index: 1;
    margin-bottom: 2vmin;
    /* font-family: Gentona;
    font-size: 10vmin; */
}

#initiativeHome-heading {
    height: fit-content;
    display: flex;
    align-items: flex-start;
    /* border: 2px solid white; */
    font-family: Gentona;
    font-size: 9vmin;
    color: #ffe35a;
    padding: 0;
    margin-top: -5vmin;
}

#initiativeHome-subheading {
    height: fit-content;
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
    font-family: Kanit;
    font-weight: 300;
    font-size: 5.7vmin;
    padding: 0;
    margin-bottom: -1vmin;
}

#initiativeHome-bottom-section {
    height: 70%;
    display: flex;
    align-items: center;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #initiativeHome-bottom-section {
        flex-direction: column-reverse;
        margin-top: 4vmin;
        padding-bottom: 3vmin;
    }
}

#initiativeHome-description {
    width: 100%;
    height: fit-content;
    padding: 3vmin 5vmin;
    font-size: min(2vw, 3.3vmin);
    font-family: "Josefin Sans", sans-serif;
    /* line-height: 3.5vmin; */
    text-align: justify;
}

@media screen and (max-width: 768px) {
    #initiativeHome-description {
        font-size: 3.6vmin;
        padding: 3vmin 8vmin 3vmin 6vmin;
    }
}

@media screen and (max-width: 480px) {
    #initiativeHome-description {
        font-size: 4.7vmin;
    }
}

#initiativeHome-left-section-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
}

#initiativeHome-image {
    width: 65%;
    /* height: 100%; */
}

#initiativeHome-image-img {
    width: 100%;
    /* max-height: 300px; */
}
