@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans&family=Teko:wght@300&display=swap");

#intro-container {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background: url("../assets/backgrounds/intro_bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
}

@media screen and (max-width: 768px) {
    #intro-container {
        height: fit-content;
    }
}

#intro {
    position: relative;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vmin;
    /* margin: 10vmin 10vmin; */
    /* border: 2px solid white; */
    /* add text shadow */
    text-shadow: 0 3px 3px black;
    display: flex;
    flex-direction: column;
    padding: 3vmin;
    padding-top: 0;
    /* line height */
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    #intro {
        height: fit-content;
        /* border: 2px solid white; */
    }
}

#intro::before {
    position: absolute;
    width: 100%;
    height: 90%;
    content: "";
    background: rgba(18, 18, 18, 0.5);
    /* background: -moz-linear-gradient(
        -90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    );
    background: -webkit-linear-gradient(
        -90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    );
    background: linear-gradient(
        -90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    ); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52e1ff",endColorstr="#0899a7",GradientType=1);
    filter: blur(20px);
    /* backdrop-filter: blur(0.1px); */
    border-radius: 10vmin;
	z-index: -1;
    padding: 2vmin; 
    /* position: absolute;
    width: 96%;
    height: 90%;
    content: "";
    background: rgb(82, 225, 255);
    background: -moz-linear-gradient(
        90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(27, 77, 88, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(47, 131, 148, 0.2) 0%,
        rgba(31, 100, 116, 0.2) 35%,
        rgba(6, 93, 101, 0.2) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52e1ff",endColorstr="#0899a7",GradientType=1);
    filter: blur(10px);
    border-radius: 10vmin; */
}

@media screen and (max-width: 768px) {
    #intro::before {
        /* width: 100%; */
        height: 100%;
        border-radius: 8vmin;
        /* padding-bottom: min(10px, 2vmin); */
        background: -moz-linear-gradient(
            0deg,
            rgba(82, 225, 255, 0.2) 0%,
            rgba(16, 160, 191, 0.1) 35%,
            rgba(8, 153, 167, 0) 100%
        );
        background: -webkit-linear-gradient(
            0deg,
            rgba(82, 225, 255, 0.2) 0%,
            rgba(16, 160, 191, 0.1) 35%,
            rgba(8, 153, 167, 0) 100%
        );
        background: linear-gradient(
            0deg,
            rgba(82, 225, 255, 0.2) 0%,
            rgba(16, 160, 191, 0.1) 35%,
            rgba(8, 153, 167, 0) 100%
        );
    }
}

#intro-title {
    width: 100%;
    height: fit-content;
    padding-left: 8vmin;
    /* padding-top: 4vmin; */
    /* margin-bottom: 5vmin; */
    font-family: Gentona;
    font-size: 13vmin;
    color: #ffe35a;
    z-index: 1;
    display: flex;
    align-items: center;
    user-select: none;
}

@media screen and (max-width: 480px) {
	#intro-title {
		font-size: 17vmin;
	}
}

#intro-section-2 {
    width: 100%;
    height: 70%;
    /* border: 2px solid pink; */
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #intro-section-2 {
        flex-direction: column-reverse;
    }
}

#intro-text {
    /* height: 60%; */
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0 0 0 6vmin;
    text-shadow: 0 3px 5px #c09bff;
    margin-top: 4vmin;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    #intro-text {
        width: 100%;
        height: 60%;
        padding: 0 4vmin;
        line-height: 1.4;
        margin-top: 0;
        font-size: 3.6vmin;
    }
}

@media screen and (max-width: 480px) {
    #intro-text {
        font-size: 4.7vmin;
    }
}

#the-image {
    width: 40%;
    height: 80%;
    margin-top: -6vmin;
    /* border: 2px solid white; */
}

@media screen and (max-width: 768px) {
    #the-image {
        margin-top: 0;
        width: 100%;
        max-height: 30vh;
    }
}

#the-image-img2 {
    width: 100%;
    object-fit: contain;
    /* height: 100%; */
    transition: transform 0.1s ease;
    /* border: 2px solid white; */
    /* box-shadow: 0 0 10px 10px white; */
    /* transition: 0.5s; */
}

#the-image-img2:hover {
    transform: scale(1.05);
}
