.landing-container {
    box-sizing: border-box;
    height: 100%;
    min-height: 90vh;
    width: 100%;
    padding: 5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: url("../assets/backgrounds/10851.jpg"); */
    background-image: url("../assets/homePage/landing_bg.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .landing-container {
        background-position: right;
    }
}

#landing {
    position: relative;
    box-sizing: border-box;
    /* color: #a229ed; */
    color: white;
    width: 100%;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 0 0px 5px rgb(4, 0, 255);
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
}

#landing:before {
	position: absolute;
    width: 100%;
    height: 90%;
    content: "";
    background: rgba(18, 18, 18, 0.4);
    /* background: -moz-linear-gradient(
        -90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    );
    background: -webkit-linear-gradient(
        -90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    );
    background: linear-gradient(
        -90deg,
        rgba(82, 225, 255, 0.2) 0%,
        rgba(16, 160, 191, 0.2) 35%,
        rgba(8, 153, 167, 0.2) 100%
    ); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52e1ff",endColorstr="#0899a7",GradientType=1);
    filter: blur(20px);
    /* backdrop-filter: blur(0.1px); */
    border-radius: 10vmin;
	z-index: -1;
    padding: 2vmin; 
}

#landing > div {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    align-items: center;
    justify-content: center;
}

#landing-countdown {
    filter: drop-shadow(0 0 0.3rem #000000);
}


@media screen and (max-width: 800px) {
    #landing > div {
        width: 100%;
        min-height: 50vh;
        height: fit-content;
    }
}

#landing-image {
    z-index: 1;
    height: 70%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

@media screen and (max-width: 800px) {
    #landing-image {
        height: fit-content;
    }
}

#landing-image-img {
    /* top: -10vmin; */
    width: 100%;
    min-width: 30vw;
    max-width: 40vw;
    object-fit: contain;
    user-select: none;
    filter: drop-shadow(0 0 0.3rem #3097dd);
    /* border: 2px solid white; */
}

@media screen and (max-width: 800px) {
    #landing-image-img {
        width: 60vw;
        max-height: 60vh;
        max-width: 600px;
    }
}

@media screen and (max-width: 500px) {
    #landing-image-img {
        width: 80vw;
    }
}

#landing-image-img2 {
    /* top: -10vmin; */
    width: 100%;
    height: 100%;
    max-height: 60vh;
    max-width: 40vw;
    object-fit: contain;
    user-select: none;
    filter: drop-shadow(0 0 0.2rem #8d65f8);
    /* filter: drop-shadow(0 0 0.2rem #b5b5b5); */
}

@media screen and (max-width: 800px) {
    #landing-image-img2 {
        max-height: 50vh;
    }
}

#landing-links {
    display: flex;
    gap: 2vmin;
    flex-wrap: wrap;
    justify-content: center;
}

.button-27 > img {
    max-height: 3.5vmin;
}

@media screen and (max-width: 800px) {
    .button-27 > img {
        max-height: 4vmin;
    }
}

@media screen and (max-width: 480px) {
    .button-27 > img {
        max-height: 6vmin;
    }
}

.button-27 > span {
    padding-top: 1vmin;
}

.button-27 {
    background-color: #0880b0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    appearance: none;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    /* font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size: 3vmin;
    /* font-weight: 600; */
    line-height: normal;
    margin: 0;
    /* min-height: 60px; */
    min-width: 0;
    outline: none;
    padding: 1vmin 4vmin 2vmin 4vmin;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

  @media screen and (max-width: 800px) {
    .button-27 {
        font-size: 3vmin;
        padding: 2vmin 6vmin 3vmin 6vmin;
    }
  }

  @media screen and (max-width: 480px) {
    .button-27 {
        font-size: 5vmin;
        padding: 2vmin 6vmin 3vmin 6vmin;
    }
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 208, 255, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }

#landing-text {
    /* border: 2px solid red; */
    z-index: 1;
    padding: 5vmin;
    padding-bottom: 2vmin;
    font-size: 3vmin;
    font-family: "Josefin Sans", sans-serif;
    /* line-height: 3.5vmin; */
    text-align: center;
}

@media screen and (max-width: 800px) {
    #landing {
        flex-direction: column;
        height: 100vh;
        /* height: fit-content;
        padding-top: 20vh; */
    }

    #landing-image-img2 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #landing-text {
        font-size: 4vmin;
    }
}


