@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Teko:wght@300&display=swap");

#navbar {
    box-sizing: border-box;
    /* background-color: #000000; */
    position: sticky;
    top: 0;
    color: #63ccf5;
    font-family: "Exo 2", sans-serif;
    font-size: 2.75vh;
    /* padding: 1vh 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: 999;
    background: rgba(16, 28, 39, 0.6);
    backdrop-filter: blur(10px) invert(10%);
    user-select: none;
}

#navbar a {
    color: #63ccf5;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

/* create an underline that grows in length when we hover */

.navbar-link::after {
    content: "";
    display: block;
    width: 0;
    /* left: 50%; */
    margin-top: 0.5vmin;
    height: 0.5vmin;
    background: #63ccf5;
    transition: width 0.3s ease-out;
}

#navbar a:hover {
    color: #e2f7f5;
}

.navbar-left-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 40vw; */
    padding: 0 2vmin;
    height: 100%;
    /* border: 1px solid red; */
}

.navbar-right-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 40vw; */
    gap: 3vmin;
    padding: 0 2vmin;
    height: 100%;
    /* border: 1px solid red; */
}

.navbar-logo {
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    align-items: center;
    width: fit-content;
    filter: drop-shadow(0 0 0.5vmin #007d8b);
    /* border: 1px solid red; */
}

#navbar-logo-img {
    margin-top: 0.5vmin;
    max-height: 7.5vh;
}

.navbar-right-section-login,
.navbar-right-section-profile {
    box-sizing: border-box;
    padding: 3px 8px 1px;
    border: 2px solid #63ccf5;
    border-radius: 4px;
    /* transition: color 0.3s ease-in; */
    transition: all 0.2s linear;
    /* transition: border 0.2s linear; */
}

.navbar-right-section-login:hover,
.navbar-right-section-profile:hover {
    color: #84f4eb;
    background: #010001;
    padding: 2px 7px 0px;
    border: 3px solid #84f4eb;
}

.navbar-right-section-profile:hover {
    cursor: pointer;
}

.navbar-right-section-login::after,
.navbar-right-section-profile::after {
    content: "";
    display: block;
    margin-top: 0.5vmin;
    height: 0.5vmin;
}

/* @media (max-width: 600px) {
    #navbar {
        justify-content: space-evenly;
    }
    .navbar-left-section, .navbar-right-section {
        display: none;
    }
} */

.nav-btn {
    position: absolute;
    width: 10vw;
    max-width: 30px;
    height: 40%;
    max-height: 3vh;
    right: 2vw;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* new css */
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

#navbar nav {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.navbar-mobile {
    display: none;
    /* border: 2px solid white; */
}

.navbar-mobile-link-profile:hover {
    color: #e2f7f5;
    cursor: pointer;
}

.dropdown {
    /* padding: 20px 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    /* background: #c06162; */
    /* background: #34495e; */
    position: relative;
    /* font-size: 18px; */
    /* perspective: 1000px; */
    /* z-index: 100; */
    /* overflow-x: hidden; */
    height: 100%;
    transition: color 0.1s ease-out;
    /* border: 2px solid #63ccf5; */
}

.dropdown:hover {
    /* background: #2980b9; */
    color: #e2f7f5;
    cursor: pointer;
}

.dropdown:hover .dropdown_menu li {
    display: block;
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    /* border: 2px solid red; */
    height: fit-content;
    /* perspective: 1000px; */
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    z-index: 2;
}

.dropdown_menu li {
    display: none;
    color: #fff;
    background-color: #34495e;
    border-top: 0.2vmin solid rgba(33, 48, 62, 0.5);
    padding: 1.1vmin 2vmin 1.3vmin 1.5vmin;
    font-size: 2.3vmin;
    opacity: 0;
}

.dropdown_menu li:hover {
    background-color: #2980b9;
}

.dropdown:hover .dropdown_menu--animated {
    display: block;
}

.dropdown_menu--animated {
    display: none;
}

.dropdown_menu--animated li {
    display: block;
    opacity: 1;
}

.dropdown_menu-5 .dropdown_item-1 {
    transform-origin: top center;
    animation: translateX 300ms 50ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-2 {
    transform-origin: top center;
    animation: translateX 300ms 100ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-3 {
    transform-origin: top center;
    animation: translateX 300ms 150ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-4 {
    transform-origin: top center;
    animation: translateX 300ms 200ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-5 {
    transform-origin: top center;
    animation: translateX 300ms 250ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-6 {
    transform-origin: top center;
    animation: translateX 300ms 300ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-7 {
    transform-origin: top center;
    animation: translateX 300ms 350ms ease-in-out forwards;
}

.dropdown_menu-5 .dropdown_item-8 {
    transform-origin: top center;
    padding-bottom: 1.5vmin;
    animation: translateX 300ms 400ms ease-in-out forwards;
}

@-moz-keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-o-keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (hover: none) {
    .navbar-link-active {
        display: block;
    }
}

@media only screen and (max-width: 1140px) {
    .dropdown {
        flex-direction: column;
        width: 100%;
        /* border: 2px solid white; */
    }

    .dropdown_menu {
        position: relative;
        width: 100%;
        /* border: 2px solid white; */
    }

    .dropdown_menu li {
        text-align: center;
    }

    .dropdown:hover .dropdown_menu li {
        display: none;
    }

    /* .dropdown:focus .dropdown_menu li {
		display: block;
	} */

    .dropdown:hover .dropdown_menu--animated {
        display: none;
    }

    /* .dropdown:focus .dropdown_menu--animated {
		display: block;
	} */

    #navbar-mobile-eventCheckbox {
        display: none;
    }

    #navbar-mobile-eventCheckbox:checked ~ .dropdown_menu li,
    #navbar-mobile-eventCheckbox:checked ~ .dropdown_menu--animated {
        display: block;
    }

    .navbar-mobile {
        position: fixed;
        top: 10vh;
        width: 100%;
        /* background-color: rgb(16, 28, 39, 0.9); */
        background: rgba(16, 28, 39, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border: 2px solid white; */
    }

    .navbar-mobile-link {
        text-align: center;
        width: 100%;
    }

    #navbar {
        /* justify-content: flex-end; */
        z-index: 999;
    }

    #navbar .navbar-right-section {
        display: none;
    }

    /* #navbar .navbar-left-section {
		display: none;
	} */

    .hamburger-menu {
        display: block;
        margin: 10px;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

    .mobile-left-menu-link {
        position: fixed;
        top: 10vh;
        left: 25;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(16, 28, 39, 0.9);
        background-blend-mode: screen;
        transition: 1s;
    }

    .mobile-right-menu-link {
        position: fixed;
        top: 22.436vh;
        left: 25;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(16, 28, 39, 0.9);
        background-blend-mode: screen;
        transition: 1s;
    }

    .navbar-right-section-login,
    .navbar-right-section-profile {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 700px) {
}
