@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Teko:wght@300&display=swap');

#navbar {
    box-sizing: border-box;
    /* background-color: #000000; */
    position: absolute;
    top: 0;
    color: #63ccf5;
    font-family: 'Exo 2', sans-serif;
    font-size: 2.75vh;
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 1.3s ease-out;
    z-index: 1;
    background: rgb(16,28,39);
    user-select: none;
}

#navbar a {
    color: #63ccf5;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

/* create an underline that grows in length when we hover */

.navbar-link::after {
    content: "";
    display: block;
    width: 0;
    /* left: 50%; */
    margin-top: 0.5vmin;
    height: 0.5vmin;
    background: #63ccf5;
    transition: width 0.3s ease-out;
}

.navbar-link:hover::after {
    width: 100%;
}

#navbar a:hover {
    color: #e2f7f5;
}

.navbar-left-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
    /* border: 1px solid red; */
}

.navbar-right-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
    /* border: 1px solid red; */
}

.navbar-logo {
    display: flex;
    align-items: center;
    width: fit-content;
    /* border: 1px solid red; */
}


#navbar-logo-img {
    margin-top: 0.5vmin;
    max-height: 7.5vh;
}

.navbar-right-section-login {
    box-sizing: border-box;
    padding: 3px 8px 1px;
    border: 2px solid #63ccf5;
    border-radius: 4px;
    /* transition: color 0.3s ease-in; */
    transition: all 0.2s linear;
    /* transition: border 0.2s linear; */
}

.navbar-right-section-login:hover {
    color: #84f4eb;
    background: #010001;
    padding: 2px 7px 0px;
    border: 3px solid #84f4eb;
}

.navbar-right-section-login::after {
    content: "";
    display: block;
    margin-top: 0.5vmin;
    height: 0.5vmin;
}

@media (max-width: 600px) {
    #navbar {
        justify-content: space-evenly;
    }
    .navbar-left-section, .navbar-right-section {
        display: none;
    }
}


.navbar-toggle-button{
  position: absolute;
  margin-left: 95%;
  margin-top: 1.8%;
  top: 0.75 rem;
  right: 1 rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;    /* CHANGE THE WIDTH AND HEIGHT IN PERCENTAGE */
  height: 21px;
}

.navbar-toggle-button .bar{
  margin-top: 5%;
  height: 4px;
  width: 100%;
  display: none;
  background-color: #63ccf5;
  border-radius: 10px;

}

@media only screen and (max-width: 600px) 
{

    .toggle-button{
      display: flex;
    }

    .navbar-left-section{
       display: flex; 
    }

    .navbar-right-section{
      display: flex;
    }
    #navbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-left-section{
      flex-direction: column;
      width: 100%;
      padding-top: 10vh ;
      /* text-align: center; */

    }
    .navbar-left-section.active{
        display: flex;
    }
    .navbar-right-section{
        flex-direction: column;
        width: 100%;
    }
    #navbar-logo-img{
        display: none;
        size: 0;
    }
    .navbar-toggle-button .bar{
        display: block;
    }   
    
}