@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Teko:wght@300&display=swap");

#themePage {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 1, 53);
    background: -moz-linear-gradient(
        180deg,
        #00002b 0%,
        #1a0123 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        #00002b 0%,
        #1a0123 100%
    );
    background: linear-gradient(
        180deg,
        #00002b 0%,
        #1a0123 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000135",endColorstr="#1a0123",GradientType=1);
	/* border: 2px solid white; */
}

@media screen and (max-width: 768px) {
    #themePage {
        height: fit-content;
    }
}

.contentDiv {
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    color: white;
    /* border: 1px solid red; */
}

.themeContent {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    /* margin: 3.5vh auto; */
    margin: 0;
    padding: 3vmin;
    border-radius: 5px;
    z-index: 1;
    background: inherit;
    text-shadow: 0 3px 3px black;
    /* margin-bottom: 3%; */
    /* border: 1px solid white; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.themeHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: Gentona;
    font-size: 13vmin;
    padding-right: 8vmin;
    padding-top: 6vmin;
    color: #ffe35a;
    z-index: 1;
    user-select: none;
}

@media screen and (max-width: 480px) {
    .themeHeader {
        font-size: 17vmin;
    }
}

#themeColumns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
}

.themeColumn {
    height: fit-content;
    width: 50%;
    /* flex: 50%; */
    z-index: 1;
    /* display: flex;
	align-items: center;
	justify-content: center; */
    /* border: 2px solid red; */
    padding-bottom: 8vmin;
    padding-right: 2vmin;
}

@media screen and (max-width: 768px) {
    .themeColumn {
        padding: 0 4vmin;
    }
}

.themeColumn p {
    font-family: "Josefin Sans", sans-serif;
    font-size: min(1.8vw, 3vmin);
    line-height: 1.3;
    padding-right: 3vmin;
    padding-left: 2vmin;
    padding-bottom: 2vmin;
}

@media screen and (max-width: 768px) {
    .themeColumn p {
        font-size: 3.6vmin;
    }
}

@media screen and (max-width: 480px) {
    .themeColumn p {
        font-size: 4.7vmin;
        /* border: 2px solid white; */
    }
}

.theme-video {
    user-select: none;
}

.video-box {
    min-height: 10%;
    padding: 0px 3vmin;
    /* border: 2px solid pink; */
}

@media screen and (max-width: 768px) {
    .video-box {
        padding: 0;
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .video-box {
        width: 100%;
    }
}

.contentDiv .themeContent .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
}

.contentDiv .themeContent .theme-video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 62.5%;
    box-shadow: 0 0 20px 20px rgba(0, 191, 255, 0.05);
    /* border: 2px solid green; */
    /* 8:5 Aspect Ratio */
}

@media screen and (max-width: 768px) {
    .themeContent:before {
        height: 100%;
    }

    #themeColumns {
        flex-direction: column;
    }

    .themeColumn {
        width: 100%;
        flex: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
