@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Rubik+80s+Fade&display=swap');

#dronerace_flagshipEventsPage {
	font-family: "Josefin Sans", sans-serif;
	box-sizing: border-box;
	/* padding: 0 1vw; */
	width: 100%;
	/* width: 99.3vw; */
	/* background: rgb(16, 28, 39); */
	/* background: radial-gradient(circle, rgba(16, 28, 39, 1) 10%, rgba(0, 0, 0, 1) 90%); */
	min-height: 90vh;
	display: grid;
}

.dronerace_flagTop-DroneContainer-bg {
	background-size: 110% 100%;
	background-repeat: no-repeat;
	/* background-position: left; */
	/* filter: blur(5px); */
	/* left: 0; */
	/* position: absolute; */
	height: 80%;
	max-width: 100vw;
	/* margin-top: 0px; */
	/* height: auto; */
	/* width: 100%; */
}

.dronerace_center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/* .dronerace_table {
  /* width: 290px;
  height: 80px;
  background-color: #d4e5ff; 
  margin-top: 200px;
}
.dronerace_table .dronerace_monitor-wrapper {
  background: #050321;
  width: 270px;
  height: 70px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.dronerace_table .dronerace_monitor-wrapper .dronerace_monitor {
  width: 220px;
  height: 50px;
  /* background-color: #344151; 
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.dronerace_table .dronerace_monitor-wrapper .dronerace_monitor p {
  font-family: "VT323", monospace;
  font-size: 50px;
  position: relative;
  display: inline-block;
  animation: move 6s infinite linear;
  color: #ebb55f;
} */

@keyframes move {
	from {
		left: 600px;
	}

	to {
		left: -800px;
	}
}

.dronerace_flagTop-container {
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.dronerace_flagTop-DroneContainer h1::before {
	content: attr(data-title);
	position: absolute;
	height: 50%;
	overflow: hidden;
	color: whitesmoke;
	z-index: 1;
	top: 0;
	left: 0;
}

.dronerace_flagTop-DroneContainer h1::after {
	content: attr(data-title);
	position: absolute;
	height: 53%;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #F49D1A;
	filter: saturate(5px);
	border-bottom: 0px solid transparent;
	z-index: 2;
	transition: .4s;
}

.dronerace_flagTop-DroneContainer h1:hover::after {
	border-bottom: 5px solid transparent;
	top: -10px;
}

.dronerace_flag-bottom-bg {
	background: url("https://images.unsplash.com/photo-1634176866089-b633f4aec882?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80") repeat fixed 99.3vw;
	/* margin-top: 500px; */
}

#dronerace_info {
	margin: 0;
}

.dronerace_buttons {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    left: 50%;
    transform: translate(-50%, 0);
}

.dronerace_buttons a {
	color: initial;
	text-decoration: none;
}

#dronerace_create-button {
	box-shadow: 0 0 20px 3px black;
}

.dronerace_flagAbout h3 {
	font-size: 2.5em;
}

@media (max-width: 768px) {
	.dronerace_flagAbout h3 {
		font-size: 1.3em;
	}
}

.dronerace_title-shadow {
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.2em;
	animation: flicker 0.5s ease-in-out infinite alternate;
}

.dronerace_title-shadow:hover {
	color: #fff;
}

@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px #2962ff;
	}

	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px #2962ff;
	}
}

.dronerace_flagTop-DroneContainer h1 {
	color: turquoise;
	position: absolute;
	text-transform: uppercase;
	/* color:#3C2A21; */
	text-shadow: 0 0 3px black, 0 0 5px rgba(0, 0, 0, 0.05),
		0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.3);
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 20vmin;
	letter-spacing: 0.5rem;
	/* font-family: 'Rubik 80s Fade', cursive; */
	/* font-family: 'Anton', sans-serif; */
	font-family: 'Black Ops One', cursive;
}

@media screen and (max-width: 1080px) {
    .dronerace_flagTop-DroneContainer h1 {
        font-size: 16vmin;
    }
}

@media screen and (max-width: 768px) {
    .dronerace_flagTop-DroneContainer h1 {
        font-size: 13vmin;
    }
}


@media screen and (orientation: portrait) {
    .dronerace_flagTop-DroneContainer h1 {
        font-size: 13vmin;
    }
}

.dronerace_flagTop-DroneContainer img {
	display: block;
	position: absolute;
	width: 25%;
	top: 75%;
	left: 25%;
	transform: translate(-50%, -50%);
}

.dronerace_flagAbout,
.dronerace_flagReach,
.dronerace_flagResources,
.dronerace_flagSponsors {
	padding: 5vmin 0;
}

.dronerace_flagAbout h3 {
	margin-left: 25px;
	/* width: 100%; */
	font-family: Gentona;
	font-size: min(50px, 10vmin);
	text-shadow: 0 3px 5px #000000;
	/* border: 2px solid white; */
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	padding-bottom: 5vmin;
}

.dronerace_Abouttable {
	/* display: grid;
	grid-template-columns: 1fr 3fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dronerace_flagAbout-table {
	/* flex: 1;
	border: 2px solid yellow; */
}

#dronerace_flag_prize {
	width: 30%;
	display: flex;
	/* margin: auto; */
	align-items: center;
}

#dronerace_about-text {
	width: 65%;
}

.dronerace_flagAbout-table:first-child {
	margin-right: 20px;
}

#dronerace_flag_prize-icon {
	display: inline;
	position: relative;
	margin: auto;
	/* max-width: 4vw; */
    height: 12vmin;
	/* width: 25%; */
}

#dronerace_flagPrize-description {
	/* display: flex; */
	color: blanchedalmond;
	font-family: "Exo 2", sans-serif;
	text-shadow: 0 1px 4px rgb(142, 142, 142);
	font-size: 6vmin;
	margin: 0;
	padding-left: 10px;
	/* display: inline-block; */
}

/* #flagPrize-description span{
  display:inline;
  position:relative;
} */

.dronerace_flagAbout p {
	margin: 30px auto auto;
}

.dronerace_text-shadow {
	font-family: "Alumni Sans", sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	/* animation: flicker 0.5s ease-in-out infinite alternate; */
}

.dronerace_text-shadow:hover {
	color: #fff;
}


.dronerace_about-description {
    /* background-color: #000; */
    font-family: "Alumni Sans", sans-serif;
    /* font-size: 1.5em; */
    font-size: max(18px, 3vmin);
    /* text-transform: uppercase; */
    color: #fff;
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: 900;
}

#dronerace_flagAbout-button {
	height: 15%;
	width: 20%;
	/* width: 50%; */
	/* padding: 1vmin; */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto auto;
	position: relative;
	border-radius: .2em;
	border: solid white 1px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Exo 2", sans-serif;
	font-weight: 500;
	background: transparent;
	transition: all 0.2s;
}

#dronerace_flagAbout-button:hover {
	/* color: #ffffff; */
	/* background-color: #62d9cf; */
	box-shadow: inset 0 0 0 2px #ffffff;
}

.dronerace_flagResources h3 {
	margin-left: 25px;
	/* width: 100%; */
	font-family: Gentona;
	font-size: min(50px, 10vmin);
	text-shadow: 0 3px 5px #000000;
	/* border: 2px solid white; */
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	padding-bottom: 5vmin;

	/* color: #2cc040; */
}

.dronerace_flag_Allcards {
	/* height: 100vh; */
	/* width: 100vw; */
	max-height: 800px;
	max-width: 1000px;
	/* min-height: 300px; */
	/* min-width: 1000px; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px auto;
}

.dronerace_flag_card-border {
	height: 290px;
	width: 290px;
	background: transparent;
	border-radius: 10px;
	transition: border 1s;
	position: relative;
}

.dronerace_flag_card-border:hover {
	border: 1px solid #fff;
}

.dronerace_flag_card {
	height: 300px;
	width: 300px;
	background: #808080;
	border-radius: 10px;
	overflow: hidden;
	background: #000;
	box-shadow: 0 70px 63px -60px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.dronerace_card0 {
	background-size: 300px;
	/* box-shadow: inset 0px 0px 60px 60px rgba(0,0,0,0.9); */
}

.dronerace_flagResources h2 {
	margin-top: 250px;
	margin-left: 0px;
	align-items: center;
	font-style: normal;
	font-weight: normal;
	font-size: 3em;
	line-height: 21px;
	font-family: "Alumni Sans", sans-serif;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	text-align: center;
	letter-spacing: 0.1em;
}


/* hr {
  border: solid #fce38a 2px;
  border-bottom: none;
} */
.dronerace_flagContactUs {
	margin-left: 25px;
	/* width: 100%; */
	font-family: Gentona;
	font-size: min(50px, 10vmin);
	text-shadow: 0 3px 5px #000000;
	/* border: 2px solid white; */
	/* flex-grow: 1; */
	/* display: flex; */
	/* align-items: flex-end; */
	padding-bottom: 5vmin;
	/* color: #03a9f4; */
}

.dronerace_flagContactUs .dronerace_canvas {
	/* position: relative; */
	margin-top: 40px;
	margin-bottom: 40px;
}


.dronerace_flagContactUs .dronerace_canvas .dronerace_contact-card {
	box-sizing: border-box;
	width: 100%;
	/* height: 20vh; */
	/* display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr; */
	/* display: flex; */
	margin: auto;
	align-items: center;
	position: relative;
	z-index: 1;
	padding: 30px 20px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
	background: linear-gradient(40deg, transparent 10%, rgba(5, 16, 59, 0.16) 60%, transparent 100%);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1.5px solid rgba(255, 255, 255, 0.08);
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dronerace_contact-card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dronerace_flagContactUs p, .dronerace_flagContactUs a {
	line-height: 21px;
	font-family: "Alumni Sans", sans-serif;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	text-align: center;
	letter-spacing: 0.2em;
	position: relative;
	font-size: 1.5rem;
	line-height: 2rem;
}

/* .dronerace_flagContactUs-name{
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
}
.dronerace_flagContactUs-mail, .dronerace_flagContactUs-phone{
  position: relative;
  font-size:1rem;
  line-height: 2rem;
} */