#dashboard-container {
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
    min-height: 90vh;
    overflow-y: auto;
    padding: 5vh 2vw;
    background: rgb(13, 46, 69);
    /* background: linear-gradient(315deg, rgba(13,46,69,1) 30%, rgba(40,74,101,1) 70%); */
    background: linear-gradient(135deg, rgba(13, 46, 69, 1) 10%, rgba(142, 30, 149, 1) 50%, rgba(180, 67, 67, 1) 90%);
    background-size: 200% 200%;
    background-position: 0% 0%;
    animation: moveGradient 15s ease-in-out infinite;
}

#dashboard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.104);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 3vh 2vw 4vh;
}

#dashboard-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dashboard-top-left {
    color: #eeeeee;
    font-family: Kanit, sans-serif;
    font-size: max(5vmin, 30px);
    font-weight: 600;
}

#dashboard-top-right {
    display: flex;
    align-items: center;
    font-size: max(2vmin, 12px);
    font-weight: 600;
    text-align: center;
    color: #eeeeee;
    /* border: 2px solid cyan; */
    background-color: #e01818;
    padding: 5px 10px;
    border-radius: 5px;
}

#dashboard-top-right:hover {
    cursor: pointer;
    background-color: #e0181884;
}

#dashboard-middle {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    max-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 6vh 0;
}

#dashboard-pass-and-details {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vh 0;
}

#dashboard-pass {
    box-sizing: border-box;
    width: 55%;
    height: 100%;
    background-color: rgb(233, 187, 36);
    padding: 5px;
}

#dashboard-pass-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px rgb(233, 187, 36);
    border: 2px solid black;
    border-style: dashed;
    padding: 2% 4%;
}

#dashboard-pass-left {
    box-sizing: border-box;
    max-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid black;
    padding-right: 10px;
}

#dashboard-pass-left-title {
    height: 30%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: max(4vmin, 24px);
    font-weight: 700;
}

#dashboard-pass-left-image {
    height: 50%;
    width: 100%;
}

#dashboard-pass-left-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#dashboard-pass-right {
    box-sizing: border-box;
    width: 55%;
    height: 100%;
    flex-grow: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#dashboard-pass-right-title {
    height: 30%;
    width: 100%;
    color: black;
    font-size: max(3.5vmin, 21px);
    font-weight: 700;
}

#dashboard-pass-right-content {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: max(2.5vmin, 15px);
    font-weight: 500;
}

#dashboard-caDetails {
    box-sizing: border-box;
    width: 100%;
    background-color: #928bb4;
    /* border: 2px solid transparent;
    background: linear-gradient(#e1d1e2, #e1d1e2) padding-box,
                linear-gradient(135deg, #e9018d 10%, #020041 50%, #057dde 90%) border-box; */
    border-radius: 8px;
    padding: 0.5vmin 1vmin;
}

#dashboard-caDetails-title {
    color: #ffde38;
    /* background: -webkit-linear-gradient(135deg, #e9018d 10%, #020041 50%, #057dde 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: 'Kanit', sans-serif;
    font-size: max(3vmin, 18px);
    font-weight: 700;
}

#dashboard-caDetails-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0.4vmin 0;
}

.dashboard-caDetails-content-title {
    color: #f1d54a;
    font-size: max(2.2vmin, 13px);
    font-weight: 600;
}

.dashboard-caDetails-content-value {
    color: #fffee8;
    font-weight: 400;
}

.dashboard-caDetails-content-title .fa-copy {
    fill: #f1d54a;
    height: max(2.2vmin, 13px);
    margin-left: 4px;
}

.dashboard-caDetails-content-title .fa-copy:hover {
    cursor: pointer;
    fill: #f1d54a95;
}

#dashboard-personalDetails {
    height: 100%;
    width: 40%;
}

#dashboard-registeredEvents {
    height: fit-content;
    max-height: 50vh;
    width: 100%;
    overflow-y: auto;
}

#dashboard-personalDetails,
#dashboard-registeredEvents {
    box-sizing: border-box;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vmin 1.8vmin;
    background-color: #ae9eaf;
    /* background-color: rgba(214, 214, 214, 0.104);
    backdrop-filter: blur(30px); */
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(169, 169, 169);
}

#dashboard-personalDetails-title,
#dashboard-registeredEvents-title {
    color: #eeeeee;
    text-shadow: 2px 2px black;
    font-family: Kanit, sans-serif;
    font-size: max(3vmin, 18px);
    font-weight: 500;
}

#dashboard-personalDetails-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    /* height: 100%; */
    flex-grow: 0.5;
    padding: 1vmin 0;
}

.dashboard-personalDetails-content-title {
    color: #022f82;
    font-size: max(2.2vmin, 13px);
    font-weight: 600;
}

.dashboard-personalDetails-content-value {
    color: #3d0073;
    font-weight: 400;
}

#dashboard-registeredEvents-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    padding: 1vmin 1vmin 1vmin 0;
    overflow-y: auto;
}

.dashboard-registeredEvents-content-event {
    width: 30%;
    /* height: 40%; */
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1vmin 0;
    padding: 0.5vmin 1vmin;
    background-color: rgba(100, 100, 100, 0.227);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(150, 150, 150);
}

.dashboard-registeredEvents-content-event-image {
    width: 40%;
    height: 100%;
}

.dashboard-registeredEvents-content-event-image img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 4px;
}

.dashboard-registeredEvents-content-event-details {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1vmin;
}

.dashboard-registeredEvents-content-event-title {
    color: #022f82;
    font-size: max(2.2vmin, 13px);
    font-weight: 600;
}

.dashboard-registeredEvents-content-event-date {
    color: #3d0073;
    font-size: max(1.8vmin, 11px);
    font-weight: 400;
}

#dashboard-registeredEvents-noEvent {
    color: #15eac5;
    font-size: max(2vmin, 12px);
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#dashboard-registeredEvents-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 650px) {
    #dashboard-pass-and-details {
        height: auto;
        flex-direction: column;
    }

    #dashboard-personalDetails {
        height: 20vh;
        width: 100%;
    }

    #dashboard-pass {
        height: 20vh;
        width: 100%;
        margin-top: 2vh;
    }

    .dashboard-registeredEvents-content-event {
        width: 45%;
    }
}