@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Teko:wght@300;500&display=swap");



#EventDetailsPage {
    /* padding-top: 10vh; */
    /* border: 2px solid red; */
    width: 100%;
    height: 90vh;
    /* opacity: 0; */
    /* background: rgb(16,28,39); */
    /* background: radial-gradient(circle, rgba(16,28,39,1) 10%, rgba(0,0,0,1) 90%); */
    /* transition: opacity 1.3s ease-out; */
    /* min-height: 120vh; */
    font-family: "Exo 2", sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    background: black;
    padding: 2vmin 1vmin 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.event-details {
    position: relative;
    width: 95%;
    height: fit-content;
    /* border: 5px solid orange; */
    display: flex;
    flex-direction: column;
    padding: 6vmin;
    margin-bottom: 5vmin;
}

.event-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1000px rgb(35, 82, 126);
    background-color: rgba(47, 82, 115, 0.5);
    filter: blur(30px);
}

.event-details__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-bottom: 3vmin;
    /* border: 2px solid red; */
}

.event-details__title {
    font-size: 7vmin;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details__title__underline {
    width: 40%;
    height: 0.5vmin;
    background: #9772FB;
    box-shadow: 0 0 10px #b8a9e0;
    margin-top: 1vmin;
    border-radius: 20px;
}

.event-details__sponsors {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details__sponsors_text {
    font-size: 3vmin;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details__sponsors_images {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.event-details__sponsors_images>img {
    /* width: 20%; */
    height: 8vmin;
    object-fit: contain;
    margin: 1vmin;
    background-color: #ffffff79;
}

.event-details__body {
    display: flex;
    z-index: 1;
    /* border: 2px solid red; */
}

.event-details__back-button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-backBtn {
    width: max(3vmin, 18px);
    fill: #ffffff;
}

.fa-backBtn:hover {
    fill: #9772FB;
}

@media screen and (max-width: 900px) {
    .event-details__body {
        flex-direction: column;
    }

}

.event-details__body__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid white; */
    width: 45%;
    max-height: 500px;
}

@media screen and (max-width: 900px) {
    .event-details__body__left {
        width: 100%;
        /* max-height: 100vh; */
    }
}

.event-details__body__right {
    display: flex;
    flex-direction: column;
    ;
    /* border: 2px solid white; */
    width: 55%;
}

@media screen and (max-width: 900px) {
    .event-details__body__right {
        width: 100%;
    }
}

.event-details__body__right__top {
    font-size: 3vmin !important;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .event-details__body__right__top {
        font-size: 4vmin !important;
    }
}

.event-details__body__right__top * {
    /* display: flex;
	align-items: center; */
    color: blanchedalmond;
    font-weight: 600;
    margin-left: 2vmin;
    /* border: 2px solid white; */
}

#event-details-text {
    color: white;
    text-transform: capitalize;
    font-family: "Teko", sans-serif;
    font-weight: 300;
    font-size: 6vmin !important;
    margin-left: 2vmin;
    animation: glow 1s ease-in-out infinite alternate;
}

.event-details__body__left__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-details__body__left__image__img {
    /* width: 30%; */
    max-width: 30vw;
    max-height: 70%;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    .event-details__body__left__image__img {
        max-width: 80vw;
        max-height: 70vh;
    }
}

.top-event-mains {
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.event-details__body__right__bottom {
    font-size: 3vmin !important;
    width: 100%;
    line-height: 1.5;
}

.event-details__body__right__bottom2 {
    color: #c6eaed !important;
}

#event-content-heading {
    color: white;
    font-family: Gentona;
    font-weight: 300;
    font-size: 5vmin !important;
    text-shadow: 0 2px 10px black;
}

.event-details__body__right__bottom1 {
    font-size: 3vmin;
}

.event-details__body__right__bottom1 * {
    margin-left: 2vmin;
}

.event-details__body__right__bottom1 h3 {
    font-weight: 600;
    color: blanchedalmond;
    font-size: 4vmin;
    margin-left: 0;
}

.event-details__body__right__bottom1 strong {
    margin-right: 1vmin;
    text-decoration: underline;
    margin-left: auto;
}

.event-details__body__left__buttons {
    /* size: 3%; */
    font-size: 2em;
    padding: 3px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* white-space: nowrap; */
    /* display: inline-block; */
}

@media screen and (max-width: 900px) {
    .event-details__body__left__buttons {
        margin: 4vmin;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #397286;
    }

    to {
        text-shadow: 0 0 15px #34b3c1, 0 0 5px #4dbbc7;
    }
}

/* CSS */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 1vmin;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 0.5vmin;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    width: fit-content;
    margin: 0.5vmin 3vmin;
}

.button-64:active,
.button-64:hover {
    outline: 0;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 1vmin 2vmin;
    border-radius: 1vmin;
    width: 100%;
    height: 100%;
    transition: 300ms;
    font-size: 3vmin;
}

@media screen and (max-width: 900px) {
    .button-64 span {
        font-size: 4vmin;
    }
}

.button-64:hover span {
    background: none;
}