@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Teko:wght@300&display=swap');

#EventDetailsPage {
	/* padding-top: 10vh; */
	border: 2px solid red;
	width: 100vw;
	height: 90vh;
	/* opacity: 0; */
	/* background: rgb(16,28,39); */
	/* background: radial-gradient(circle, rgba(16,28,39,1) 10%, rgba(0,0,0,1) 90%); */
	/* transition: opacity 1.3s ease-out; */
	/* min-height: 120vh; */
	font-family: "Exo 2", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: black;
	overflow-y: auto;
}

#event-header {
	width: 100%;
	height: fit-content;
	border: 2px solid green;
}

#event-header h2 {
	margin-left: 1%;
	color: blanchedalmond;
	font-family: 'Share Tech', sans-serif;
	/* margin-left: auto; */
	margin-right: auto;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 0;
	padding-left: 2vw;
}

.DetailsRow {
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-self: center; */
	border: 2px solid white;
	margin: auto;
}

.TopRow {
	height: 10%;
	border: 2px solid black;
}

.BottomRow {
	height: 80%;
	display: flex;
}

.DetailsColumn {
	/* flex: 50%; */
    color: aqua;
	border: 2px solid pink;
}

.contentDiv {
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	color: white;
}

.EventContent {
	width: 90%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	position: relative;
	z-index: 1;
	background: inherit;
	/* overflow: hidden; */
}



@media (max-width: 1100px) {
	.EventContent {
		width: 90%;
	}

	.DetailsRow {
		/* margin-top: -20%; */
		display: block;
		/* display:flex; 
		flex-direction: column; 
		text-align:center; */
	}

	.DetailsColumn {
	}
	 .LeftColumn{
		 display: block; 
		/* position: fixed; */
	} 
	 .RightColumn{
		display: block ;
		
	} 
	.EventContent h1{
	}
	.desc-links{
	}
	
	
}
@media (max-width: 400px)
{
	.RightColumn{
	}
	.LeftColumn{
	} 
}


.EventContent:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 1000px rgb(35, 82, 126);
	background-color: rgba(47, 82, 115, 0.5);
	filter: blur(40px);
	margin: -20px;
}

.EventContent h1 {
	margin: 0px 10px 50px 0px;
	color: white;
	text-align: center;
	font-size: 37px;
	position: relative;
}

.EventContent h1:after {
	content: "";
	width: 60%;
	height: 6px;
	font-size: 2.5rem;
	display: block;
	margin: 0px auto;
	border-bottom: 4px solid rgb(0, 255, 255);
}

.EventContent p {
	font-size: 2.5vmin;
	line-height: 1.7rem;
	font-weight: 500;
	padding: 0px 20px;
	margin: auto;
	/* text-indent: 50px; */
}

.image-box {
	padding: 20px 25px;
	align-self: center;
	margin-top: 3%;
}

.contentDiv .EventContent .responsive-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 80%;
	border: none;
}
.responsive-image{
	align-content: center;
    margin: 15% 7% ;
}

.contentDiv .EventContent .event-image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 62.5%;
	margin-top: 14%;
	/* 8:5 Aspect Ratio */
}

.event-title{
    color: blanchedalmond;

}
.title-sponsor-card{
	display: block;
  
}
.sponsor-title{
	text-align: center;
	color: white;
	font-weight: 200 !important;
	padding: 0.3%;
	/* margin-bottom: -0.5%; */
	
}

.title-sponsor-img{
	width: 15%;
	display: block;
	margin:auto;
	margin-top: 2%;
  /* height: 200px; */
}


.event-description {
    color: cyan;
	/* padding: 4% 0 0  !important;  */
	margin: 2% -2%;
 
}

.event-description h3{
    color: blanchedalmond;
}

.event-other-details {
    color: cyan;
    margin: 0px;
	padding: 1%;
    white-space: nowrap;
    display: inline-block;

 
}
.event-other-details h3{
    color: blanchedalmond;
 
}

.event-items{
    display: inline-block;
}

.event-date {
	font-size: 40px !important;
	
   	text-shadow: 0 0 5px rgba(9, 190, 235, 0.5);
}

.event-prize {
	/* font-size: 40px !important; */
	font-family: 'Teko', sans-serif;
    font-size: 6.5vmin !important;
	text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
	
}
.event-date {
    /* margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1; */
     font-family: 'Teko', sans-serif;
    font-size: 6.5vmin !important;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #397286;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

/* .right-detail{
    text-align: right;
} */
.desc-links{

    size: 3%;
    font-size: 2em;
    padding: 3px;
    margin: 5px;
    text-align: center;
	/* white-space: nowrap; */
	/* display: inline-block; */
	
	
}

.individual_link{
	width: 200%;
    height: 5vh;
    margin: 2% 8% 0% 0%;
    padding: 1.3%;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    font-size: 3vmin;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #63ccf5;
    color: #101c27;
	/* display: inline-block; */
	/* white-space: nowrap;  */
	
}


.individual_link:hover {
    background-color: #c9eefee4;
    cursor: pointer;
}

.link-form{
	display: inline-block;
	margin: 1.5% 20% 0% 0%;
}
.contact-us{
	display: block;
	width: 14%;
	margin-left: 33%;
}