@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");

body {
  background-color: #2e2e2e;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}
#wrapper {
  display: flex;
  justify-content: center;
  /* align-items:center; */
  width: 100%;
  margin-top: 20px;
}
.taabs_content {
  max-width: 100vw;
  width: 100%;
  min-width: 260px;
  margin: 0 5%;
  /* margin-top: 10%; */
  transition: 0.3s ease;
}
@media screen and (max-width: 512px) {
  .taabs_content {
    margin: 0 4%;
    margin-top: 5%;
  }
}
/* taabs menu */
.taabs {
  position: fixed;
  z-index: 9;
  /* top: 100px; */
  margin: 0;
 /* box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
  background: linear-gradient(40deg, black 50%, rgba(5, 16, 59, 0.16) 100%, transparent 100%); */
  background: rgb(255,255,255);
  background: linear-gradient(40deg, transparent 0%, black 40%, black 66%, transparent 100%);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
     display: grid;
    grid-template-columns: 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 90%;
  border-radius: 2px 2px 0px 0px;
}
@media  (orientation: portrait) {
  .taabs{
  position: absolute;
  }
}
@media screen and (max-width: 512px) {
  .taabs {
    height: 40px;
    height: fit-content;
  }
}
@media screen and (max-width: 1370px){
  .taabs{
    height: 20vh;
    height: fit-content;
  }
  .taabcontent{
    margin-top: 200px;
  }
}
/* @media screen and (max-width: 2000px){
  .taabs{
    margin-top: 50px;
  }
} */

/* taab Links */
#Technical_events{
  margin-left: -5px;
}
.taablinks {
  background: transparent;
  /* background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%); */
  border: none;
  outline: none;
  cursor: pointer;
  /* width: 25%; */
  /*change depending on the number of taabs*/
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
  transition: 0.3s ease;
  margin: 0 5px;
  z-index: 9;
}
@media screen and (max-width: 1140px) {
  .taabs{
    height:20vh;
    height: fit-content;
  }
  .taabcontent{
    margin-top: 200px;
  }
}
@media screen and (max-width: 730px) {
  .taabs{
    height:20vh;
    height: fit-content;
  }
  .taabcontent{
    margin-top: 200px;
  }
  .taablinks {
    height: 50px;
    font-size: 18px;
  }
}
@media screen and (max-width: 550px){
  .taabs{
    height:25vh;
    height: fit-content;
  }
  .taabcontent{
    margin-top: 200px;
  }
}
@media screen and (max-width: 450px){
  .taabs{
    height:25vh;
    height: fit-content;
  }
  .taabcontent{
    margin-top: 250px;
  }
}
@media screen and (max-width: 410px){
  .taabs{
    height:30vh;
    height: fit-content;
  }
  .taabcontent{
    margin-top: 300px;
  }
}
@media  screen and (max-width: 355px) {
  .taabs{
    height:35vh;
    height: fit-content;
  }
}
.taablinks:before {
  /* Gradient */
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); 
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
/*taab buttons hover*/
.taablinks:hover::before {
  height: 100%;
  z-index: 2;
  bottom: 0;
}
@media screen and (max-width: 512px) {
  .taablinks:hover::before {
    height: 0;
  }
}
/* taab active_taab */
.taablinks.active_taab {
  background-color: white;
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  height: 10vh;
  bottom: 0px;
  overflow: hidden;
}
@media screen and (max-width: 512px) {
  .taablinks.active_taab {
    height: 60px;
  }
}
.taablinks.active_taab:before {
  /* Gradient */
  content: "";
  width: 100%;
  height: 5px;
  top: 95%;
  left: 0;
}
/* taabs text */
.taablinks.active_taab p, .taablinks.active_taab:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-size: large;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.taablinks p {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 20px;
  margin: 0;
  color: #63ccf5;
  backface-visibility: hidden;
  font-weight: 500;
  text-transform: uppercase;
}
.taablinks:hover p {
  color: white;
  opacity: 1;
}
@media screen and (max-width: 512px) {
  .taablinks:hover p {
    color: #686868;
    opacity: 0.6;
  }
}
/* taabs text bigger */
.taablinks p:before {
  content: attr(data-title);
  position: absolute;
  height: auto;
  width: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
  font-size: 40px;
  transition: 1s ease-out;
  z-index: -1;
  font-weight: 600;
  top: 110%;
}
@media screen and (max-width: 512px) {
  .taablinks p:before {
    display: none;
  }
}

/* taab content */
.wrapper_taabcontent {
  background-color: transparent;
  margin-top: 0px;
  /* z-index: -3; */
  position: relative;
  opacity: 1;
  /* padding: 10px 60px; */
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
}
.taabcontent {
  display: none;
  min-height: 180px;
}
@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
.taabcontent.active_taab {
  transition: all 1s ease;
  display: block;
}
/* taab content line */
/* .wrapper_taabcontent:after {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: all 1s ease;
} */
/* Title */
/* .taabcontent h3 {
  font-size: 40px;
  top: 75px;
  transform: rotate(90deg);
  position: absolute;
  left: -90px;
  opacity: 0.1;
  width: 200px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  animation: city 1s ease;
}
@media screen and (max-width: 512px) {
  .taabcontent h3 {
    top: 65px;
  }
} */
@keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}
/* Text*/
/* .taabcontent p {
  color: #686868;
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-weight: 100;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  width: 100%;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
} */
@media screen and (max-width: 512px) {
  .taabcontent p {
    font-size: 14px;
    line-height: 26px;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
:root {
	--back-to-top-offset: 50px;
	--back-to-top-button-size: 3vmin;
}
#back-to-top {
	/* place-self: end; */
	position: sticky;
	/* margin-top: calc(100vh + var(--back-to-top-offset)); */
	bottom: 2.7em;
	/* right: 2em; */
}
#back-to-top img {
	height: 4vmin;
	display: grid;
	place-items: center;

	/* text-decoration: none;
	background-color: var(--color-accent);
	box-shadow: 0 0.6em 1em 0.2em var(--color-accent-alpha);
	transform: translateY(0%);
	transition: ease-out 200ms;
	transition-property: transform, background-color; */
}
/*
#back-to-top:hover {
	transform: translateY(-22%);
	background-color: var(--color-accent-bright);
}

#back-to-top::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 200%;
	transform: translateY(-30%);
	background-color: rgba(0, 0, 0, 0);
	display: block;
} */