@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
/* *,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
} */
/* html {
  background: #01012a;
  color: #33def4;
} */
/* html,
body {
  overscroll-behavior: none;
  font-family: Montserrat, sans-serif;
  overflow: hidden; 
} */
#galleryPage{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
    /* opacity: 0; */
    background: rgb(16,28,39);
    background: radial-gradient(circle, rgba(16,28,39,1) 10%, rgba(0,0,0,1) 90%);
    /* transition: opacity 1.3s ease-out; */
}
.box {
  padding: 32px;
}
#galleryPage h2 {
    color: #84f4eb;
  font-family: 'Share Tech', sans-serif;
  /* margin-left: auto; */
  margin-right: auto;
  font-size: 40px;
  font-weight: 800;
  /* margin-bottom: 0; */
  padding-left: 4vw;
}
.loading {
  z-index: 9999;
  background: #01012a;
  color: #33def4;
  text-align: center;
  position: fixed;
  bottom: 50vh;
  width: 100%;
  /* min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06), visibility 0.8s 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading .loading-container {
  position: relative;
  width: 40%;
  overflow: hidden;
}
.loading .loading-container .counter {
  padding: 0.8rem;
  transform: traslate(0, 0);
}
.loading .loading-container .counter.loaded {
  animation: counter-animation 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.8s 1 normal forwards running;
}
.loading .loading-container .line {
  position: absolute;
  background: #03e2e7;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
}
.loading .loading-container .line.loaded {
  animation: line-animation 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s 1 normal forwards running;
}
@-moz-keyframes counter-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10%);
  }
}
@-webkit-keyframes counter-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10%);
  }
}
@-o-keyframes counter-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10%);
  }
}
@keyframes counter-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10%);
  }
}
@-moz-keyframes line-animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes line-animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes line-animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes line-animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
