.login {
	font-family: 'Josefin Sans', sans-serif;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 0 1vw;
	width: 100vw;
	height: 90vh;
	background: rgb(16, 28, 39);
	background: radial-gradient(circle, rgba(16, 28, 39, 1) 10%, rgba(0, 0, 0, 1) 90%);
    /* background-image: url('../assets/homePage/background_pattern_t4.png'); */
	/* background-repeat: repeat; */
	/* background-size: 20%; */
	min-height: 90vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container {
    height: max-content;
    min-height: 80%;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 5vh 3vw; */
    box-shadow: 0 0 10px 0 rgba(35, 82, 126, 0.5);
    border-radius: 20px;
    /* border: 1px solid #84f4eb; */
}

.login-container-left {
    width: 47%;
    height: 100%;
    background-size: contain;
    border-radius: 20px 0 0 20px;
    /* border: 1px solid whitesmoke; */
    /* border-right: none; */
    overflow: hidden;
}

.login-container-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.login-container-right {
    position: relative;
    height: 100%;
    width: 53%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 4vw;
    background-color: #101c27;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

.login-container-right-title {
	color: #84f4eb;
	font-family: 'Share Tech', sans-serif;
    font-size: 4vmin;
    padding-bottom: 3vh;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container-right-title, .login-form {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.login-form input {
    width: 100%;
}

.login-form input {
    box-sizing: border-box;
    height: 5vh;
    margin: 8px 0;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    font-size: 1.8vmin;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background-color: rgb(151, 189, 185);
}

.login-form input:focus {
    outline: 3px solid #84f4eb;
}

.login-form input::placeholder {
    color: #3c3b3b;
}

#login-form-submit, #google-login-form-submit {
    width: 40%;
    height: 5vh;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 2vmin;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #63ccf5;
    color: #101c27;
    transition: all 0.2s ease;
    text-align: center;
}

#google-login-form-submit {
    margin: 0;
    border-radius: inherit;
}

#login-form-submit:hover {
    background-color: #63ccf5e4;
    cursor: pointer;
}

.google-button {
    width: fit-content;
    height: fit-content;
    position: relative;
	display: flex;
    /* border: 2px solid red; */
    border-radius: 20px !important;
	/* margin-left:0% !important; */
}

.form-google-signin{
	width: 240px !important;
    height: 5vh !important;
    margin: 15px 0 5px;
    padding: 5px;
    border: none;
    font-weight: 700;
    font-size: 2vmin;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffff !important;
    color: #101c27;
}

.form-google-signin:hover {
    /* background: yellow !important; */
    background-color: rgb(233, 233, 233) !important;
    cursor: pointer;
}

.google-img{
    position: absolute;
    width: 10%;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    /* border: 2px solid red; */
    transition: all 0.2s ease;
}

.parent:hover .child {
    transform: scale(1.1) translateY(-50%);
    top: 52%;
}

.login-noaccount {
    color: #84f4eb;
    font-size: 1.8vmin;
    text-decoration: none;
}

.login-noaccount > a {
    font-weight: 700;
    color: #63ccf5;
    text-decoration: none;
}

.login-noaccount > a:hover {
    color: #63ccf5e4;
}

@media (max-width: 1000px) {
    .login-container {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .login-container {
        width: 100%;
    }
}

@media (orientation: portrait) {
    .login-container {
        flex-direction: column;
        height: min-content;
        width: 100%;
    }

    .login-container-left {
        width: 100%;
        height: 20vh;
        border-radius: 20px 20px 0 0;
    }
    
    .login-container-right {
        width: 100%;
        height: fit-content;
        border-radius: 0 0 20px 20px;
    }

    .login-container-right-title {
        font-size: max(26px, 4vmin);
    }

    .login-form input {
        font-size: max(12px, 1.8vmin);
    }

    #login-form-submit, #google-login-form-submit {
        font-size: max(13px, 2vmin);
    }
}