.moonshot__text h2 {
  /* text-transform: uppercase; */
  text-align: left !important;
  color: #011f4e;
  font-family: "Share Tech", sans-serif;
  font-size: max(24px,4vmin);
  font-weight: 900;
  padding-top: 5px;
}
.moonshot__text h3 {
  text-transform: uppercase;
  text-align: left !important;
  color: #84f4eb;
  font-family: "Share Tech", sans-serif;
  font-size: max(30px,5vmin);
  font-weight: 500;
  padding-top: 5px;
}

.moonshot-title h2 {
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px #2962ff;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate;
  position: relative;
  padding: 5vh;
  /* -webkit-background-clip: text; */
  text-transform: uppercase;
  text-align: center !important;
  /* color: #84f4eb; */
  font-family: "Share Tech", sans-serif;
  font-size: max(42px,7vmin);
  font-weight: 900;
  /* color: white; */
}
/* .moonshot-title h2{
    color: #fff;
} */
/* This pen */

/* Cards */
.moonshot {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
   /* background: linear-gradient(40deg,
            transparent 10%,
            rgba(5, 16, 59, 0.16) 60%,
            transparent 100%); */
            background: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255,255,0.5) 90%, transparent 100%);
  border-radius: 10px;
  /* margin: 0 0 2rem 0; */
  overflow: hidden;
  position: relative;
  color: #ffffff;
  /* height: 90vh; */
  /* width: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  /* margin-bottom: 50px; */
} 
.moonshot-dark {
  position: relative;
}
.moonshot-dark::before {
  content: "";
  position: absolute;
  background-image: url("https://post-phinf.pstatic.net/MjAyMTA2MTRfMzMg/MDAxNjIzNjM2MDE5ODg2.Cv9i0kC9qCn3oNZ2n1qjDVNoPRXDA7VVbHameyRhqHwg.81xEAw1LWbfg2P-Jo6i3kmzEqhFr0xFKViUjk-NFEH4g.PNG/%EC%8D%B8%EB%84%A4%EC%9D%BC.png?type=w1200");
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  filter: blur(2px);
  opacity: 0.5;
}

.moonshot.light {
  background-color: #e1e5ea;
}
.moonshot .t-dark {
  color: #18151f;
}
.moonshot a {
  color: inherit;
}
.moonshot h1,
.moonshot .h1 {
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.2;
}
.moonshot .small {
  font-size: 95%;
}
.moonshot .moonshot__title {
  font-size: max(24px,4vmin);
	color: #29d9f6;
}
.moonshot .moonshot__img {
  height: 300px;
  width: 100%;
  position: relative;
}
.moonshot .moonshot__img_link {
  display: contents;
}
.moonshot .moonshot__bar {
  visibility: visible;
  width: 100px;
  height: 10px;
  /* margin: auto; */
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.moonshot .moonshot__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.moonshot .moonshot__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
  font-size: max(17px,2.7vmin);
  color: #0e0e0e;
  font-weight: 900;
}
/* .moonshot__projectCriteria{
    background: linear-gradient(0deg, transparent 0%, rgba(117, 228, 238, 0.952)30%, rgba(117, 228, 238, 0.924) 80%, transparent 100%);
  } */
.moonshot__projectCriteria li {
  color: #0e0e0e;
  font-weight: 900;
  font-size: max(14px,2.5vmin);
}
.moonshot__projectKeyPoints li {
  font-size: max(14px,2.3vmin);
  color: #0e0e0e;
  font-weight: 900;
}
/* .moonshot .moonshot__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.moonshot .moonshot__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 10px 30px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.moonshot .moonshot__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
} */
.moonshot:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.moonshot:hover .moonshot__bar {
  width: 200px;
}
.contact_poster {
  text-align: end;
}
@media screen and (min-width: 769px) {
  .moonshot {
    flex-wrap: inherit;
  }
  /* .moonshot .moonshot__title {
    font-size: 2rem;
  } */
  .moonshot .moonshot__tagbox {
    justify-content: start;
  }
  .moonshot .moonshot__img {
    height: auto;
    max-width: 300px;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .moonshot .moonshot__text,
  .contact_poster {
    padding: 3.2rem;
    width: 100%;
  }
  .moonshot:hover .moonshot__img {
    transform: scale(1.1);
  }
  .moonshot:nth-child(2n + 1) {
    flex-direction: row;
  }
  .moonshot:nth-child(2n + 0) {
    flex-direction: column;
  }
  .moonshot:nth-child(2n + 1) .moonshot__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .moonshot:nth-child(2n + 0) .moonshot__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

.modal-backdrop {
  z-index: -1000;
  background-color: #f3f5f7;
}

.modal-content {
  background-color: #18151f;
}

.btn-close {
  background-color: white;
}

.btn-primary {
  background-color: #0076bd;
}

.btn-primary:hover {
  background-color: #00578d;
}

.input {
  width: 100%;
}

/* .files input {
    background-color: #18151f;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out;
    transition: outline-offset .15s ease-in-out;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0 auto;
    width: 100% !important;
}
.files input:focus{     
  outline: 2px dashed #92b0b3;  
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out;
  transition: outline-offset .15s ease-in-out;
 }
.files{ 
  position:relative
}
.files:after {  
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 50px;
  content: "";
  background-image: url('../img/cloud-computing.png');
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
} */

.drag-area {
  border: 1.5px dashed #fff;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active {
  border: 1px solid #fff;
}
.drag-area .icon {
  font-size: 50px;
  color: #fff;
  margin-top: 10px;
}
.drag-area header {
  text-align: center;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.drag-area span {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0 10px 0;
}
.drag-area button {
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 300;
  border: none;
  outline: none;
  margin-bottom: 20px !important;
  background: #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* .hideButton{
  display: none;
} */

.browseButton {
  text-align: center;
  padding: 0 5px;
}

.resubmitText {
  background-color: #18151f;
  color: rgb(158, 158, 158);
  text-align: center;
  margin-bottom: 5px !important;
}

.changeButton {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4) !important;
  border-radius: 3px;
  padding: 7px 20px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.changeButton:hover {
  background: rgba(83, 83, 83, 0.8) !important;
}
.moonshot__text p {
  font-size: max(17px,2.7vmin);
}
.moonshot_buttons {
    position: relative;
    margin-bottom: 5%;
    /* bottom: 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2vmin; */
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
}
.moonshot_buttons a {
	color: initial;
	text-decoration: none;
    margin-top: 5px;
  font-size: max(12px,2vmin);
  width: 100%;
  height: 100%;
  padding: 1vmin 5vmin;
  background-color: #84f4eb;
}

@media screen and (min-width: 1024px) {
  .moonshot__text {
    padding: 2rem 3.5rem;
  }
}
/* COLORS */
.moonshot .moonshot__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}
.green .moonshot__title:hover {
  color: #79dd09;
}
.green .moonshot__bar {
  background-color: #79dd09;
}
.green::before {
  background-image: linear-gradient(
    -30deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
  );
}
.green:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
  );
}
.moonshot .moonshot__tagbox .blue.play:hover {
  background: #0076bd;
}
.blue .moonshot__bar {
  background-color: #0076bd;
  height: 5px;
}
.blue::before {
  background-image: linear-gradient(
    -30deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
  );
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
  );
}
.moonshot .moonshot__tagbox .red.play:hover {
  background: #bd150b;
}
.red .moonshot__title:hover {
  color: #bd150b;
}
.red .moonshot__bar {
  background-color: #bd150b;
}
.red::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}
.red:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}
.moonshot .moonshot__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}
.yellow .moonshot__title:hover {
  color: #bdbb49;
}
.yellow .moonshot__bar {
  background-color: #bdbb49;
}
.yellow::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
  );
}
.yellow:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
  );
}
@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(
      -80deg,
      rgba(121, 221, 9, 0.1),
      transparent 50%
    );
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(121, 221, 9, 0.1),
      transparent 50%
    );
  }
  .blue::before {
    background-image: linear-gradient(
      -80deg,
      rgba(0, 118, 189, 0.1),
      transparent 50%
    );
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(0, 118, 189, 0.1),
      transparent 50%
    );
  }
  .red::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }
  .yellow::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 187, 73, 0.1),
      transparent 50%
    );
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 187, 73, 0.1),
      transparent 50%
    );
  }
}
