#gallery-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
    background-image: url("../assets/backgrounds/gallery_bg.png");
    background-size: cover;
    overflow: hidden;
}

@media screen and (hover: none) {
    #gallery-container {
        flex-direction: column;
        justify-content: space-evenly;
        /* border: 2px solid white; */
        overflow-y: scroll;
    }
}

#gallery-loader {
    width: 100%;
    font-family: Gentona;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    z-index: 1;
    transition: opacity 0.5s ease;
}

#gallery-loader-bar {
    /* position: absolute; */
    /* top: 50%; */
    left: 0%;
    /* transform: translate(0, -50%); */
    width: 0%;
    height: 2px;
    background-color: rgb(0, 204, 255);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.1s ease;
}

#gallery-showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    z-index: 1;
    transition: 0.3s;
    backdrop-filter: blur(5px);
    cursor: auto;
    opacity: 0;
}
    

#gallery-showcase > img {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

#gallery-heading {
    position: absolute;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    /* border: 2px solid red; */
    color: #f5f5f5;
    font-family: Gentona;
    font-size: 10vmin;
    user-select: none;
    opacity: 0;
    transition: opacity 2s ease;
    /* text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3); */
}

@media screen and (hover: none) {
    #gallery-heading {
        z-index: 99;
        font-size: 15vmin;
    }
}

#gallery-image-track {
    display: flex;
    opacity: 0;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(0%, 0%); 
    user-select: none; /* -- Prevent image highlighting -- */
    /* border: 2px solid red; */
    /* cursor: pointer; */
    transition: opacity 1s ease;
  }

  @media screen and (hover: none) {
    #gallery-image-track {
        display: flex;
        transform: translate(-50%, 0%);
        flex-direction: column;
        /* border: 2px solid red; */
        width: 90%;
    }
  }
  
  #gallery-image-track > .gallery-image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 50% center;
    box-shadow: 0 0 20px 4px rgba(0, 166, 255, 0.1);
  }

  @media screen and (hover: none) {
    #gallery-image-track > .gallery-image {
        width: 100%;
        object-fit: cover;
        /* height: 84vmin; */
    }

    /* last child of gallery image track */
    #gallery-image-track > .gallery-image:last-child {
        margin-bottom: 10vh;
    }
  }