@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap");
.team-container {
    width: 100%;
    /* height: 90vh;
    overflow-y: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Kanit", sans-serif;
    background: #20002c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        180deg,
        #734e82,
        #09000c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        180deg,
        #734e82,
        #0b000f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#team-title {
    font-size: 10vmin;
    font-weight: 600;
    color: #00C4F1;
    display: flex;
    flex-direction: column;
}

#team-underline {
    width: 100%;
    height: 2px;
    background: #FFEACE;
    margin: -10px 0 0 0;
    z-index: 2;
}

#team-subtitle {
    font-size: 5vmin;
    color: #E8EFF7
}

.team-container > div {
    /* border: 2px solid white; */
    height: fit-content;
    padding: 4vmin 0 6vmin 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 6vmin; */
}

.team-container > div > span {
    font-size: 7vmin;
    color: #FFC563;
    text-align: center;
    /* border: 2px solid black; */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 5vmin;
}

@media screen and (orientation: portrait) {
    .team-container > div > span {
        font-size: 5vh;
    }
}

.team-main {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    padding: 4vmin 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: "Kanit", sans-serif;
    /* border: 2px solid red; */
    gap: 2vmin;
}
.team-profile-card {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    min-width: 200px;
    min-height: 200px;
    max-height: 40vh;
    background: #f5f5f5;
    padding: 2vmin;
    border-radius: 50%;
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    /* border: 2px solid black; */
}



.team-profile-card:hover {
    border-radius: 10px;
    height: 45vmin;
    margin-top: 6vmin;
    box-shadow: 0 5px 22px rgba(255, 255, 255, 0.2);
    background: #fff;
}

@media screen and (max-width: 500px) {
    .team-profile-card:hover {
        padding-bottom: 5vmin;
    }
}

.team-profile-card .team-img {
    /* border: 2px solid green; */
    position: relative;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    transition: 0.3s;
    padding: 10px;
    z-index: 99;
}

@media screen and (orientation: portrait) {
    
}

.team-profile-card:hover .team-img {
    transform: translateY(-60px);
}
.team-img img {
    user-select: none;
    /* border: 2px solid pink; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    background: white;
    transition: 0.6s;
}
.team-profile-card:hover img {
    border-radius: 10px;
}

.team-bottom {
    height: 50%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* border: 2px solid orange; */
    transition: all 0.2s ease-out;
    pointer-events: none;
}
.team-caption {
    text-align: center;
    /* transform: translateY(-100px); */
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
    justify-content: space-between;
    transition: 0.5s;
    /* border: 2px solid black; */
}
.team-profile-card:hover .team-bottom {
    transform: translateY(-60px);
    opacity: 1;
    pointer-events: all;
}

.team-caption div {
    /* border: 2px solid green; */
}
.team-caption h3 {
    font-size: 21px;
    line-height: 1;
}
.team-caption p {
    font-size: 16px;
    color: #0c52a1;
    /* margin: 2px 0 9px 0; */
}
.team-caption .team-social-links a {
    color: #333;
    /* margin-right: 8px; */
    font-size: 21px;
    transition: 0.6s;
}

.team-social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid blue; */
    width: 100%;
    height: fit-content;
}

.team-social-icon {
    height: 3.7vmin;
    width: fit-content;
    border-radius: 0;
    /* border: 2px solid pink; */
}



.team-facebook,
.team-linkedin {
    height: 4.4vmin;
}

.team-mail,
.team-github {
    height: 4.2vmin;
}

@media screen and (max-width: 500px) {
    .team-social-icon {
        height: 5vmin;
    }

    .team-facebook, .team-linkedin {
        height: 5.5vmin;
    }

    .team-mail, .team-github {
        height: 5.3vmin;
    }
}

/* if hover is not available then keep hover event on by default */
@media screen and (hover: none) {

    .team-social-icon {
        height: 4vh;
    }

    .team-facebook,
    .team-linkedin {
        height: 4.4vh;
    }

    .team-mail,
    .team-github {
        height: 4.2vh;
    }

    .team-profile-card {
        width: 50vw;
        height: 40vh;
        max-height: none;
        min-width: 28vh;
    }

    .team-profile-card-mobile {
        border-radius: 10px;
        height: 40vh;
        margin-top: 6vh;
    }
    .team-profile-card-mobile .team-img {
        transform: translateY(-60px);
    }
    .team-profile-card-mobile img {
        object-position: center;
        border-radius: 10px;
    }
    .team-profile-card-mobile .team-bottom {
        transform: translateY(-60px);
        opacity: 1;
        pointer-events: all;
    }

    .team-caption h3 {
        font-size: 25px;
    }
    .team-caption p {
        font-size: 22px;
        /* margin: 2px 0 9px 0; */
    }

    .team-social-icon {
        margin: 0 5px;
    }

    .team-profile-card .team-img {
        max-height: 28vh;
    }

    .team-profile-card:hover {
        height: 40vh;
    }
}
