
@import url('https://fonts.googleapis.com/css?family=Poppins:500');

/* * {
  margin: auto;
  padding: 0 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #1a0f35;
  color: #555;
} */

#sponsors_body{
  overflow-y: auto;
  box-sizing: border-box;
	padding: 0 1vw;
	width: 100vw;
	height: 90vh;
    background: rgb(16,28,39);
    background: radial-gradient(circle, rgba(16,28,39,1) 10%, rgba(0,0,0,1) 90%);
	min-height: 90vh;
	display:grid;

}


.sponsor_h1 {
   color: #84f4eb;
  font-family: 'Share Tech', sans-serif;
  /* margin-left: auto; */
  margin-right: auto;
  font-size: 40px;
  font-weight: 800;
  /* margin-bottom: 0; */
  padding-left: 4vw;
}


/*.dictionary {

  text-align: center;
  /* margin-top: 4rem; */
  /* color: rgb(22, 10, 10); */
/*  line-height: 1.2;
  margin: auto;
}
*/

.team-card img{
  width: 250px;
  /* height: 200px; */
  margin:auto;
  /* padding: 0 2rem; */
}

.card-grid {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.section-header {
  position: relative;
  /* padding-bottom: 10px; */
  text-align: center;
  margin: 2vmin 0;

  font-size: 6vmin;
  font-weight: 500;
    color: #84f4eb;
  font-family: 'Poppins', sans-serif;

  background-clip: text;
  -webkit-background-clip: text;
}


.team-card {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.1); */
  /* background-color: 020624; */
  margin: 50px auto;
  
  /* width: 100px; */
  /* border-radius: 5px; */
  /* padding: 10px 0px; */
  /* height: 150px; */
}


/* .img-area {
  overflow: hidden;
  position: relative;
  padding-left: -100px ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  width: 80%;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10%;
  max-height: 100px;
  transition: all 0.4s ease 0s;
} */
