
.section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
    background: radial-gradient(circle, rgba(16,28,39,1) 10%, rgba(0,0,0,1) 90%);
}

.section-team .header-section {
	/* margin-bottom: 50px; */
}

.team-title{
    color: aquamarine;
    text-align: center;
    padding-top:3% ;
}


.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 46px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background: linear-gradient(to right, #c5d0d1, #78cbe7);
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right, #A6E3E9, #16323b);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.card-image{
    
    /* To make it a circle */
}


.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #016cec;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}