@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Teko:wght@300;500&display=swap");

a {
    text-decoration: none;
}

#mail-icon {
    width: 60%;
    border-radius: 0;
    transition: all 0.2s ease;
}

.blueCircle:hover #mail-icon {
    transform: scale(1.1);
}

.section-team {
	font-family: "Poppins", sans-serif;
	padding: 7vmin 0;
    background: radial-gradient(circle, rgba(16,28,39,1) 10%, rgba(0,0,0,1) 90%);
    height: 90vh;
    overflow-y: auto;
}

.section-team .header-section {
	/* margin-bottom: 50px; */
}

.team-title{
    color: aquamarine;
    text-align: center;
    padding-top: 3%;
    font-size: 6vmin;
}

.row {
    margin-bottom: 3vmin;
}


.section-team .header-section .title {
    /* margin-bottom: 25px; */
	font-size: 10vmin;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    color: #3e64ff;
}



.section-team .header-section .small-title {
    font-weight: 500;
    font-size: 4vmin;
    color: white;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	/* background: linear-gradient(to right, #c5d0d1, #78cbe7); */
    background: #a9ced9;
	border-radius: 5px;
    transition: all 0.2s ease;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-team .single-person:hover {
	/* background: linear-gradient(to right, #A6E3E9, #16323b); */
    background: #608d95;
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
    max-width: 60vw;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 8vmin;
    height: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .section-team .single-person .person-image .icon {
        width: 12vmin;
        height: 12vmin;
        line-height: 80px;
        font-size: 32px;
    }
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #016cec;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 4vmin;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .section-team .single-person .person-info .full-name {
        font-size: 6vmin;
    }
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 2.5vmin;
    color: #016cec;
}

@media screen and (max-width: 768px) {
    .section-team .single-person .person-info .speciality {
        font-size: 4vmin;
    }
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}