@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Rubik+80s+Fade&display=swap");

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes move {
    from {
        left: 600px;
    }

    to {
        left: -800px;
    }
}

.robowar_flagTop-Container {
    /* border: 2px solid white; */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top center;
}

.robowar_flagTop-Container h1::before {
    content: attr(data-title);
    position: absolute;
    height: 50%;
    overflow: hidden;
    color: whitesmoke;
    z-index: 1;
    top: 0;
    left: 0;
}

.robowar_flagTop-Container h1::after {
    content: attr(data-title);
    position: absolute;
    height: 53%;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #850000;
    filter: saturate(5px);
    border-bottom: 0px solid transparent;
    z-index: 2;
    transition: 0.4s;
}

.robowar_flagTop-Container h1:hover::after {
    border-bottom: 5px solid transparent;
    top: -10px;
}

.rw-buttons {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    left: 50%;
    transform: translate(-50%, 0);
}

.rw-buttons a {
    color: initial;
    text-decoration: none;
}

#rw-create-button {
    box-shadow: 0 0 20px 3px black;
}

#rw-join-button {
    box-shadow: 0 0 20px 3px black;
}

#rw-pay-button {
    box-shadow: 0 0 20px 3px black;
    display: none;
}

#rw-info {
    margin: 0;
} 

/* .robowar_flag-bottom-bg{
  filter: blur(2px);
} */

.robowar_flagAbout h3 {
    font-size: 2.5em;
}

@media (max-width: 768px) {
    .robowar_flagAbout h3 {
        font-size: 1.3em;
    }
}

.title-shadow {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px #2962ff;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.2em;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

.title-shadow:hover {
    color: #fff;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 10px #2962ff;
    }

    100% {
        opacity: 1;
        text-shadow: 2px 2px 20px #2962ff;
    }
}

.robowar_flagTop-Container h1 {
    color: #ff7000;
    position: absolute;
    text-transform: uppercase;
    /* color:#3C2A21; */
    text-shadow: 0 0 3px black, 0 0 5px rgba(0, 0, 0, 0.05),
        0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vmin;
    letter-spacing: 0.5rem;
    /* font-family: 'Rubik 80s Fade', cursive; */
    /* font-family: 'Anton', sans-serif; */
    font-family: "Black Ops One", cursive;
}

@media screen and (max-width: 1080px) {
    .robowar_flagTop-Container h1 {
        font-size: 16vmin;
    }
}

@media screen and (max-width: 768px) {
    .robowar_flagTop-Container h1 {
        font-size: 13vmin;
    }
}


@media screen and (orientation: portrait) {
    .robowar_flagTop-Container h1 {
        font-size: 13vmin;
    }
}

.robowar_flagTop-Container img {
    display: block;
    position: absolute;
    width: 25%;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.robowar_flagTop-Container>p {
    /* border: 2px solid white; */
    width: max-content;
    max-width: 65%;
    padding: 0 2vmin;
    color: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    font-size: max(24px, 4vmin);
}

@media screen and (orientation: portrait) {
    .robowar_flagTop-Container>p {
        max-width: 70%;
        font-size: max(18px, 3vmin);
    }
}

#rw-copy {
    cursor: pointer;
}

#rw-info-text {
    font-size: 3vmin;
    line-height: 0.8;
}

.robowar_flagAbout,
.robowar_flagReach,
.robowar_flagResources,
.robowar_flagSponsors {
    padding: 5vmin 0;
}

.robowar_flagAbout h3 {
    margin-left: 25px;
    /* width: 100%; */
    font-family: Gentona;
    font-size: min(50px, 10vmin);
    text-shadow: 0 3px 5px #000000;
    /* border: 2px solid white; */
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5vmin;
}

.robowar_Abouttable {
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.robowar_flagAbout-table {
    /* flex: 1; */
    /* border: 2px solid yellow; */
}

#robowar_flag_prize {
    width: 20%;
    display: flex;
    /* margin: auto; */
    align-items: center;
}

#robowar_about-text {
    width: 65%;
}

.robowar_flagAbout-table:first-child {
    margin-right: 20px;
}

#robowar_flag_prize-icon {
    display: inline;
    position: relative;
    margin: auto;
    /* max-width: 4vw; */
    height: 12vmin;
}

#robowar_flagPrize-description {
    /* display: flex; */
    color: blanchedalmond;
    font-family: "Exo 2", sans-serif;
    text-shadow: 0 1px 4px rgb(142, 142, 142);
    font-size: 6vmin;
    margin: 0;
    padding-left: 10px;
    /* display: inline-block; */
}

/* #robowar_flagPrize-description span{
  display:inline;
  position:relative;
} */

.robowar_flagAbout p {
    margin: 30px auto auto;
}

.text-shadow {
    font-family: "Alumni Sans", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    /* text-shadow: 2px 2px 10px #2962ff; */
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    /* animation: flicker 0.5s ease-in-out infinite alternate; */
}

.text-shadow:hover {
    color: #fff;
}

.about-description {
    /* background-color: #000; */
    font-family: "Alumni Sans", sans-serif;
    /* font-size: 1.5em; */
    font-size: max(18px, 3vmin);
    /* text-transform: uppercase; */
    color: #fff;
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: 900;
}

#robowar_flagAbout-button {
    height: 15%;
    width: 20%;
    /* width: 50%; */
    /* padding: 1vmin; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto auto;
    position: relative;
    border-radius: 0.2em;
    /* border: solid white 1px; */
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    background: transparent;
    transition: all 0.2s;
}

#robowar_flagAbout-button:hover {
    /* color: #ffffff; */
    /* background-color: #62d9cf; */
    box-shadow: inset 0 0 0 2px #ffffff;
}

@media screen and (max-width: 768px) {
    .robowar_Abouttable {
        flex-direction: column;
        align-items: center;
    }

    #robowar_flag_prize {
        width: 60%;
    }

    #robowar_about-text {
        width: 90%;
    }
}

.robowar_flagResources h3 {
    margin-left: 25px;
    /* width: 100%; */
    font-family: Gentona;
    font-size: min(50px, 10vmin);
    text-shadow: 0 3px 5px #000000;
    /* border: 2px solid white; */
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5vmin;

    /* color: #2cc040; */
}

.robowar_flag_Allcards {
    width: 100%;
    /* height: 100vh; */
    /* width: 100vw; */
    max-height: 800px;
    max-width: 1000px;
    /* min-height: 300px; */
    /* min-width: 1000px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.robowar_flag_Allcards a {
    text-decoration: none;
    color: initial;
    margin-bottom: 2vmin;
    transition: scale 0.3s ease-out;
}

.robowar_flag_Allcards a:hover {
    scale: 1.05;
}

.robowar_flag_card-border {
    aspect-ratio: 1 / 1;
    width: 40%;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

/* .robowar_flag_card-border:hover {
    border: 1px solid #fff;
} */

.robowar_flag_card {
    height: 300px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card0 {
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 60px 60px rgba(0,0,0,0.9);
}

.robowar_flagResources h2 {
    margin-top: 250px;
    margin-left: 0px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 21px;
    font-family: "Alumni Sans", sans-serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px #2962ff;
    text-align: center;
    letter-spacing: 0.1em;
}

/* hr {
  border: solid #fce38a 2px;
  border-bottom: none;
} */
.robowar_flagContactUs {
    margin-left: 25px;
    /* width: 100%; */
    font-family: Gentona;
    font-size: min(50px, 10vmin);
    text-shadow: 0 3px 5px #000000;
    /* border: 2px solid white; */
    /* flex-grow: 1; */
    /* display: flex; */
    /* align-items: flex-end; */
    padding-bottom: 5vmin;
    /* color: #03a9f4; */
}

.robowar_flagContactUs .canvas {
    /* position: relative; */
    margin-top: 40px;
    margin-bottom: 40px;
}

.robowar_flagContactUs .canvas .contact-card {
    box-sizing: border-box;
    width: 100%;
    /* height: 20vh; */
    /* display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr; */
    /* display: flex; */
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 30px 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
    background: linear-gradient(40deg,
            transparent 10%,
            rgba(5, 16, 59, 0.16) 60%,
            transparent 100%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.08);
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-card>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robowar_flagContactUs p,
.robowar_flagContactUs a {
    line-height: 21px;
    font-family: "Alumni Sans", sans-serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px #2962ff;
    text-align: center;
    letter-spacing: 0.2em;
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 2vmin;
}

/* .robowar_flagContactUs-name{
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
}
.robowar_flagContactUs-mail, .robowar_flagContactUs-phone{
  position: relative;
  font-size:1rem;
  line-height: 2rem;
} */